.profile {
  border-radius: 4px;
  box-shadow: 2px 2px 5px grey;
  border: 1px solid lightgrey;
  width: 300px;
  margin: 20px auto;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

.name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.tag {
  font-size: 16px;
  line-height: 20px;
  color: grey;
}

.location {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: grey;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: #dadfe8;
}

.stats > li {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  align-items: center;
  padding: 10px 0px;
  outline: 1px solid #bdbdbd;
}

.label {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: grey;
  margin-bottom: 10px;
}

.quantity {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
